@import url("https://unpkg.com/@tailwindcss/typography@0.2.x/dist/typography.min.css");
@import url("https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap");

.cursive {
  font-family: "Amatic SC", cursive;
  font-weight: 700;
}

.prose img {
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.home-name {
  font-size: 120px;
}
.home-home {
  font-size: 120px;
}

@media only screen and (max-width: 640px) {
  .home-name {
    font-size: 75px;
    margin-top: 95px;
    margin-left: -75px;
  }
  .home-home {
    font-size: 75px;
    margin-top: 75vh;
    margin-left: -145px;
  }
}
@media only screen and (min-width: 1380px) {
  .home-name {
    font-size: 175px;
    margin-top: 60vh;
    margin-left: -75px;
  }
  .home-home {
    font-size: 175px;
    margin-top: 60vh;
  }
}
